# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Virtual env
venv/

# Local data
storage/
data/

# Databases
*.db
*.sqlite

# Qdrant
storage/qdrant/

# Face storage
storage/unknown_faces/

# Environment
.env
